# Chapter 1

## Q.1 Create 2 variables.Name and Age. Print them in 1 line.

In [1]:
a="Parth"
b="19"
print(a,b)

Parth 19

## Q.2 A program that adds 3 nums. Show the result

In [2]:
a=int(input("Enter First Number:"))
b=int(input("Enter First Number:"))
c=int(input("Enter First Number:"))

print("Addition of 3 Nums:",a+b+c)

Enter First Number: 10
Enter First Number: 10
Enter First Number: 10

Addition of 3 Nums: 30

## Q.3 Save ur mobile num in a variable and display it

In [3]:
b="10001000100"

print("Mobile Number:",b)

Mobile Number: 10001000100

## Q.4 Try running the expression print(5+3*2).Observe the O/P. Why did u get the results??

In [4]:
print(5+3*2)

11

## Q.5 Modify the "Hello World!" Program to greet someone by name.

In [5]:
name=(input("Enter Your name:"))
print("Hey",name)

Enter Your name: Manthan

Hey Manthan

# Chapter 2

## Q.1 Create Variables to store ur name(string),age(integer),and grade(float).

In [6]:
name=input("Enter Your Name:")
age=int(input("Enter Your Age:"))
grade=float(input("Your Grade:"))

print(f"My name is {name}, I'm {age} years old and and my grade is {grade}")

Enter Your Name: Parth
Enter Your Age: 19
Your Grade: 9.9

My name is Parth, I'm 19 years old and and my grade is 9.9

## Q.2 Convert a num to a string and print it with ur name

In [7]:
a="Parth"
b=19
con=str(b)

print(a+ " " +con)

Parth 19

## Q.3 Ask the user to input their birth year (as a string),convert it to integer,and calculate their age.

In [8]:
birth=input("Enter your birth year:")
print("Your age is:",2025-int(birth))

Enter your birth year: 2006

Your age is: 19

## Q.3 Create a boolean variable named is_student and set it to True.Print it........

In [3]:
is_student=input("Type True or False:")
if(is_student):
    print("OH hell yeahh True asf")
else:
    print("Oh hell yeahh False asf")

Type True or False: False

OH hell yeahh True asf

# Chapter 3

## Q.1 Create 2 variables num1 and num2 .Show results of arithmetic operations between them..

In [5]:
a=int(input("Enter number 1:"))
b=int(input("Enter number 2:"))
print("Addition:",a+b)
print("Subtarction:",a-b)
print("Multiplication:",a*b)
print("Division:",a/b)
print("Modules:",a%b)

Enter number 1: 10
Enter number 2: 10

Addition: 20
Subtarction: 0
Multiplication: 100
Division: 1.0
Modules: 0

## Q.2 Use assignments operators to increase a num by 10 and divide it by 2...

In [6]:
a=1
a+=11
a/2

6.0

## Q.3  compare 2 nums using all 6 operators

In [8]:
a=5
b=10
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)

False
True
True
False
False
True

## Q.4

# Chapter 4

## Q.1 Ask the user to input their name and age .Print a message with both.

In [4]:
name=input("Enter Your Name:")
age=int(input("Enter Your Age:"))

print(f"My name is {name}, I'm {age} years old.")

Enter Your Name: Parth
Enter Your Age: 19

My name is Parth, I'm 19 years old.

## Q.2 Take input from 2 nums and display their sum,difference and product

In [5]:
a=int(input("Enter number 1:"))
b=int(input("Enter number 2:"))
print("Addition:",a+b)
print("Subtarction:",a-b)
print("Multiplication:",a*b)

Enter number 1: 10
Enter number 2: 10

Addition: 20
Subtarction: 0
Multiplication: 100

## Q.3 Take legnth and width of the rect and the print the area

In [8]:
leng=float(input("Enter the Length:"))
widt=float(input("Enter the Width:"))
print("The Area of Rectangle is:",leng*widt)

Enter the Length: 10
Enter the Width: 5

The Area of Rectangle is: 50.0

## Q.4 Input a temperature in Celsius and convert it into fahrenheit

In [10]:
cel=float(input("Enter the temperature in celsius:"))
print("The temperature in Fahrenheit is :",(cel*9/5)+32)

Enter the temperature in celsius: 23

The temperature in Fahrenheit is : 73.4

## Q.5 Take mrks of 3 subjects and print the avg of that subject

In [34]:
a=float(input("Enter the Marks of English:"))
b=float(input("Enter the Marks of Maths:"))    
c=float(input("Enter the Marks of Science:"))
avg=(a+b+c)/3.0
avg
print(avg)

Enter the Marks of English: 1
Enter the Marks of Maths: 01
Enter the Marks of Science: 1

1.0

# Chapter 5

## Q.1  Ask the user to input the agee and print whether they are minor,adult or senior citizen

In [46]:
a=int(input("Enter your age:"))
if(a<18):
    print("You are a minor")
elif(a<60):
    print("You are a major")
else:
    print("You gonna c hell soon")

Enter your age 65

You gonna c hell soon

## Q.2 Take 3 subjects marks as input and print "Pass" only if all r above 35

In [53]:
a=float(input("Enter the Marks of English:"))
b=float(input("Enter the Marks of Maths:"))    
c=float(input("Enter the Marks of Science:"))
if((a>35) and (b>35) and (c>35)):
    print("Pass")
else:
    print("Fail")

Enter the Marks of English: 500
Enter the Marks of Maths: 500
Enter the Marks of Science: 200

Pass

## Q.3 Take 3 nums and identify if the num is Positive,Negative or Zero

In [61]:
a=int(input("Enter number :"))
if(a==0):
    print("The number is Zero")
elif(a>0):
    print("The number is Positive")
else:    
    print("The number is Negative")

Enter number : -452

The number is Negative

## Q.4 Identify if the year is leap year or not

In [65]:
a=int(input("Enter the year"))
if(a%4==0):
    print("The given is year is leap Year")
else:
    print("The given year is not a leap year")

Enter the year 2016

The given is year is leap Year

## Q.5 Input usename and pass.Allow login if both matches predefined well.

In [11]:
a=input("Enter the username:")
b=int(input("Enter the password:"))
c="parthhh"
d=1234
e="manthan"
f=3456

if( a == c) and ( b==d ):
    print("Welcome Parth")
elif(b == f and a ==e):
    print("Welcome Manthan")
else:
    print("Access denied")

Enter the username: parthhh
Enter the password: 1234

Welcome Parth

In [51]:
print(set(range(10,2,-2)))
print(list(range(10,2,-2)))
print(tuple(range(10,2,-2)))

{8, 10, 4, 6}
[10, 8, 6, 4]
(10, 8, 6, 4)

In [52]:
for i in range(1,4):
    for j in range(1,4):
        print(i,"",j,"=",i*j)

1  1 = 1
1  2 = 2
1  3 = 3
2  1 = 2
2  2 = 4
2  3 = 6
3  1 = 3
3  2 = 6
3  3 = 9

In [59]:
for i in range(1,10):
    if i==5:
        break
    print(i)

1
2
3
4

In [62]:
for i in range(50,10,-5):
    if i==25:
        break
    print(i)

50
45
40
35
30

# Chapter 6

## Q.1 Print nums from 1 to 100 using while and for loops

In [64]:
for i in range(1,100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [1]:
c=1
while c<=100:
    print(c)
    c+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## Q.2 Print the sum of n natural nums

In [4]:
a=int(input("Enter a number:"))
t=0
for i in range(1,a+1):
    t+=i 
print(t)

Enter a number: 5

15

## Q.3 Generate multiplication table for a number using loop.

In [1]:
a=int(input("Enter a number:"))
for i in range(1,11):
    print(a*i)

Enter a number: 556

556
1112
1668
2224
2780
3336
3892
4448
5004
5560

## Q.4 Count and print the number of vowels in a given string.

In [10]:
a="Parth"
b="aeiou"
c=0
for i in a:
    if i in b:
        c+=1
print(c)

1

## Q.5 Use nested loops to print the following the pattern:
A
AA
AAA
AAAA

In [15]:
a=int(input("Enter the no. row:"))
for i in range(1,a+1):
    for j in range(i):
          print("A",end="")
    print()

Enter the no. row: 4

A
AA
AAA
AAAA

In [ ]:
 # hello my self shravani and now i am appending this file for practicing