In [1]:
import pandas as pd

In [3]:
df =pd.read_csv('chrun2.csv')
df

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
0,C001,Prepaid,12.5,North,Bronze,1,0,2025-01-12,5,12.4,199,1500,34,0
1,C002,Postpaid,45.1,South,Gold,1,1,2025-01-01,16,8.1,499,5200,12,0
2,C003,Prepaid,3.4,East,Silver,0,0,2024-12-28,20,3.5,149,900,5,1
3,C004,Hybrid,22.3,West,Bronze,1,1,2025-01-10,7,15.2,299,2400,18,0
4,C005,Postpaid,55.8,North,Platinum,1,0,2025-01-14,3,6.9,799,7000,8,0
5,C006,Prepaid,8.9,South,Bronze,0,1,2024-12-20,28,2.1,99,400,2,1
6,C007,Postpaid,33.5,East,Silver,1,0,2025-01-16,1,14.0,399,3500,22,0
7,C008,Hybrid,18.4,West,Silver,1,0,2025-01-05,12,7.8,249,1800,30,0
8,C009,Prepaid,6.1,North,Bronze,0,1,2024-12-18,30,3.2,129,650,3,1
9,C010,Postpaid,47.0,South,Gold,1,0,2025-01-13,4,10.5,599,6000,19,0
10,C011,Hybrid,20.2,East,Silver,0,1,2024-12-25,23,5.7,269,2000,7,1
11,C012,Prepaid,4.8,West,Bronze,1,0,2025-01-09,8,4.0,119,550,4,0
12,C013,Postpaid,60.4,North,Platinum,1,0,2025-01-15,2,16.2,899,8500,10,0
13,C014,Hybrid,15.5,South,Gold,0,1,2024-12-30,18,9.3,349,2600,14,1
14,C015,Prepaid,2.3,East,Bronze,0,1,2024-12-15,33,1.9,79,300,1,1

In [4]:
df.shape

(15, 14)

In [5]:
df.info

<bound method DataFrame.info of    customer_id plan_type  data_usage_gb region customer_tier  is_active  \
0         C001   Prepaid           12.5  North        Bronze          1
1         C002  Postpaid           45.1  South          Gold          1
2         C003   Prepaid            3.4   East        Silver          0
3         C004    Hybrid           22.3   West        Bronze          1
4         C005  Postpaid           55.8  North      Platinum          1
5         C006   Prepaid            8.9  South        Bronze          0
6         C007  Postpaid           33.5   East        Silver          1
7         C008    Hybrid           18.4   West        Silver          1
8         C009   Prepaid            6.1  North        Bronze          0
9         C010  Postpaid           47.0  South          Gold          1
10        C011    Hybrid           20.2   East        Silver          0
11        C012   Prepaid            4.8   West        Bronze          1
12        C013  Postpaid           60.4  North      Platinum          1
13        C014    Hybrid           15.5  South          Gold          0
14        C015   Prepaid            2.3   East        Bronze          0

    complaints last_recharge_date  days_since_last_recharge  \
0            0         2025-01-12                         5
1            1         2025-01-01                        16
2            0         2024-12-28                        20
3            1         2025-01-10                         7
4            0         2025-01-14                         3
5            1         2024-12-20                        28
6            0         2025-01-16                         1
7            0         2025-01-05                        12
8            1         2024-12-18                        30
9            0         2025-01-13                         4
10           1         2024-12-25                        23
11           0         2025-01-09                         8
12           0         2025-01-15                         2
13           1         2024-12-30                        18
14           1         2024-12-15                        33

    avg_call_duration  min_monthly_payment  total_recharge_amount  sms_usage  \
0                12.4                  199                   1500         34
1                 8.1                  499                   5200         12
2                 3.5                  149                    900          5
3                15.2                  299                   2400         18
4                 6.9                  799                   7000          8
5                 2.1                   99                    400          2
6                14.0                  399                   3500         22
7                 7.8                  249                   1800         30
8                 3.2                  129                    650          3
9                10.5                  599                   6000         19
10                5.7                  269                   2000          7
11                4.0                  119                    550          4
12               16.2                  899                   8500         10
13                9.3                  349                   2600         14
14                1.9                   79                    300          1

    churn
0       0
1       0
2       1
3       0
4       0
5       1
6       0
7       0
8       1
9       0
10      1
11      0
12      0
13      1
14      1  >

In [6]:
df.isnull()

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
(df.isnull().sum())

customer_id                 0
plan_type                   0
data_usage_gb               0
region                      0
customer_tier               0
is_active                   0
complaints                  0
last_recharge_date          0
days_since_last_recharge    0
avg_call_duration           0
min_monthly_payment         0
total_recharge_amount       0
sms_usage                   0
churn                       0
dtype: int64

In [10]:
df.describe()

,data_usage_gb,is_active,complaints,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,23.746667,0.600000,0.466667,14.000000,8.053333,342.333333,2886.666667,12.600000,0.400000
std,19.757815,0.507093,0.516398,10.869354,4.782388,254.941637,2609.629603,10.182618,0.507093
min,2.300000,0.000000,0.000000,1.000000,1.900000,79.000000,300.000000,1.000000,0.000000
25%,7.500000,0.000000,0.000000,4.500000,3.750000,139.000000,775.000000,4.500000,0.000000
50%,18.400000,1.000000,0.000000,12.000000,7.800000,269.000000,2000.000000,10.000000,0.000000
75%,39.300000,1.000000,1.000000,21.500000,11.450000,449.000000,4350.000000,18.500000,1.000000
max,60.400000,1.000000,1.000000,33.000000,16.200000,899.000000,8500.000000,34.000000,1.000000

In [15]:
df['customer_tier'].value_counts()

customer_tier
Bronze      6
Silver      4
Gold        3
Platinum    2
Name: count, dtype: int64

In [17]:
df['region'].value_counts()

region
North    4
South    4
East     4
West     3
Name: count, dtype: int64

In [18]:
df.head(5)

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
0,C001,Prepaid,12.5,North,Bronze,1,0,2025-01-12,5,12.4,199,1500,34,0
1,C002,Postpaid,45.1,South,Gold,1,1,2025-01-01,16,8.1,499,5200,12,0
2,C003,Prepaid,3.4,East,Silver,0,0,2024-12-28,20,3.5,149,900,5,1
3,C004,Hybrid,22.3,West,Bronze,1,1,2025-01-10,7,15.2,299,2400,18,0
4,C005,Postpaid,55.8,North,Platinum,1,0,2025-01-14,3,6.9,799,7000,8,0

In [19]:
df.tail()

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
10,C011,Hybrid,20.2,East,Silver,0,1,2024-12-25,23,5.7,269,2000,7,1
11,C012,Prepaid,4.8,West,Bronze,1,0,2025-01-09,8,4.0,119,550,4,0
12,C013,Postpaid,60.4,North,Platinum,1,0,2025-01-15,2,16.2,899,8500,10,0
13,C014,Hybrid,15.5,South,Gold,0,1,2024-12-30,18,9.3,349,2600,14,1
14,C015,Prepaid,2.3,East,Bronze,0,1,2024-12-15,33,1.9,79,300,1,1

In [20]:
df.head(3)

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
0,C001,Prepaid,12.5,North,Bronze,1,0,2025-01-12,5,12.4,199,1500,34,0
1,C002,Postpaid,45.1,South,Gold,1,1,2025-01-01,16,8.1,499,5200,12,0
2,C003,Prepaid,3.4,East,Silver,0,0,2024-12-28,20,3.5,149,900,5,1

In [28]:
df[['region','customer_tier','plan_type']]

   region customer_tier plan_type
0   North        Bronze   Prepaid
1   South          Gold  Postpaid
2    East        Silver   Prepaid
3    West        Bronze    Hybrid
4   North      Platinum  Postpaid
5   South        Bronze   Prepaid
6    East        Silver  Postpaid
7    West        Silver    Hybrid
8   North        Bronze   Prepaid
9   South          Gold  Postpaid
10   East        Silver    Hybrid
11   West        Bronze   Prepaid
12  North      Platinum  Postpaid
13  South          Gold    Hybrid
14   East        Bronze   Prepaid

In [29]:
df.loc[]

SyntaxError: invalid syntax (2240581962.py, line 1)

In [34]:
df['plan_type'].value_counts()

plan_type
Prepaid     6
Postpaid    5
Hybrid      4
Name: count, dtype: int64

In [35]:
df.loc[5]

customer_id                       C006
plan_type                      Prepaid
data_usage_gb                      8.9
region                           South
customer_tier                   Bronze
is_active                            0
complaints                           1
last_recharge_date          2024-12-20
days_since_last_recharge            28
avg_call_duration                  2.1
min_monthly_payment                 99
total_recharge_amount              400
sms_usage                            2
churn                                1
Name: 5, dtype: object

In [37]:
df.loc[5]

customer_id                       C006
plan_type                      Prepaid
data_usage_gb                      8.9
region                           South
customer_tier                   Bronze
is_active                            0
complaints                           1
last_recharge_date          2024-12-20
days_since_last_recharge            28
avg_call_duration                  2.1
min_monthly_payment                 99
total_recharge_amount              400
sms_usage                            2
churn                                1
Name: 5, dtype: object

In [40]:
df.loc[5,'region' == north]

NameError: name 'north' is not defined

In [47]:
df.loc[df['region']=='South']

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
1,C002,Postpaid,45.1,South,Gold,1,1,2025-01-01,16,8.1,499,5200,12,0
5,C006,Prepaid,8.9,South,Bronze,0,1,2024-12-20,28,2.1,99,400,2,1
9,C010,Postpaid,47.0,South,Gold,1,0,2025-01-13,4,10.5,599,6000,19,0
13,C014,Hybrid,15.5,South,Gold,0,1,2024-12-30,18,9.3,349,2600,14,1

In [67]:
df.loc[2,'region'] = ''

In [51]:
df.head()

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
0,C001,Prepaid,12.5,North,Bronze,1,0,2025-01-12,5,12.4,199,1500,34,0
1,C002,Postpaid,45.1,South,Gold,1,1,2025-01-01,16,8.1,499,5200,12,0
2,C003,Prepaid,3.4,shravani,Silver,0,0,2024-12-28,20,3.5,149,900,5,1
3,C004,Hybrid,22.3,West,Bronze,1,1,2025-01-10,7,15.2,299,2400,18,0
4,C005,Postpaid,55.8,North,Platinum,1,0,2025-01-14,3,6.9,799,7000,8,0

In [52]:
df.iloc[2]

customer_id                       C003
plan_type                      Prepaid
data_usage_gb                      3.4
region                        shravani
customer_tier                   Silver
is_active                            0
complaints                           0
last_recharge_date          2024-12-28
days_since_last_recharge            20
avg_call_duration                  3.5
min_monthly_payment                149
total_recharge_amount              900
sms_usage                            5
churn                                1
Name: 2, dtype: object

In [53]:
df.iloc[2,3]

'shravani'

In [54]:
df.iloc[5,7]

'2024-12-20'

In [55]:
df.iloc[1:5]

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
1,C002,Postpaid,45.1,South,Gold,1,1,2025-01-01,16,8.1,499,5200,12,0
2,C003,Prepaid,3.4,shravani,Silver,0,0,2024-12-28,20,3.5,149,900,5,1
3,C004,Hybrid,22.3,West,Bronze,1,1,2025-01-10,7,15.2,299,2400,18,0
4,C005,Postpaid,55.8,North,Platinum,1,0,2025-01-14,3,6.9,799,7000,8,0

In [56]:
df.iloc[1:5,1:2]

  plan_type
1  Postpaid
2   Prepaid
3    Hybrid
4  Postpaid

In [62]:
df[['region','plan_type']]

      region plan_type
0      North   Prepaid
1      South  Postpaid
2   shravani   Prepaid
3       West    Hybrid
4      North  Postpaid
5      South   Prepaid
6       East  Postpaid
7       West    Hybrid
8      North   Prepaid
9      South  Postpaid
10      East    Hybrid
11      West   Prepaid
12     North  Postpaid
13     South    Hybrid
14      East   Prepaid

In [63]:
df.columns

Index(['customer_id', 'plan_type', 'data_usage_gb', 'region', 'customer_tier',
       'is_active', 'complaints', 'last_recharge_date',
       'days_since_last_recharge', 'avg_call_duration', 'min_monthly_payment',
       'total_recharge_amount', 'sms_usage', 'churn'],
      dtype='object')

In [65]:

df.isnull()

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.loc

In [68]:
df.loc[2,'region'] = ''

In [69]:
df

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
0,C001,Prepaid,12.5,North,Bronze,1,0,2025-01-12,5,12.4,199,1500,34,0
1,C002,Postpaid,45.1,South,Gold,1,1,2025-01-01,16,8.1,499,5200,12,0
2,C003,Prepaid,3.4,,Silver,0,0,2024-12-28,20,3.5,149,900,5,1
3,C004,Hybrid,22.3,West,Bronze,1,1,2025-01-10,7,15.2,299,2400,18,0
4,C005,Postpaid,55.8,North,Platinum,1,0,2025-01-14,3,6.9,799,7000,8,0
5,C006,Prepaid,8.9,South,Bronze,0,1,2024-12-20,28,2.1,99,400,2,1
6,C007,Postpaid,33.5,East,Silver,1,0,2025-01-16,1,14.0,399,3500,22,0
7,C008,Hybrid,18.4,West,Silver,1,0,2025-01-05,12,7.8,249,1800,30,0
8,C009,Prepaid,6.1,North,Bronze,0,1,2024-12-18,30,3.2,129,650,3,1
9,C010,Postpaid,47.0,South,Gold,1,0,2025-01-13,4,10.5,599,6000,19,0
10,C011,Hybrid,20.2,East,Silver,0,1,2024-12-25,23,5.7,269,2000,7,1
11,C012,Prepaid,4.8,West,Bronze,1,0,2025-01-09,8,4.0,119,550,4,0
12,C013,Postpaid,60.4,North,Platinum,1,0,2025-01-15,2,16.2,899,8500,10,0
13,C014,Hybrid,15.5,South,Gold,0,1,2024-12-30,18,9.3,349,2600,14,1
14,C015,Prepaid,2.3,East,Bronze,0,1,2024-12-15,33,1.9,79,300,1,1

In [70]:
df.isnull()

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [72]:
df.loc[2,'region'] = 'south'

In [73]:
df

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
0,C001,Prepaid,12.5,North,Bronze,1,0,2025-01-12,5,12.4,199,1500,34,0
1,C002,Postpaid,45.1,South,Gold,1,1,2025-01-01,16,8.1,499,5200,12,0
2,C003,Prepaid,3.4,south,Silver,0,0,2024-12-28,20,3.5,149,900,5,1
3,C004,Hybrid,22.3,West,Bronze,1,1,2025-01-10,7,15.2,299,2400,18,0
4,C005,Postpaid,55.8,North,Platinum,1,0,2025-01-14,3,6.9,799,7000,8,0
5,C006,Prepaid,8.9,South,Bronze,0,1,2024-12-20,28,2.1,99,400,2,1
6,C007,Postpaid,33.5,East,Silver,1,0,2025-01-16,1,14.0,399,3500,22,0
7,C008,Hybrid,18.4,West,Silver,1,0,2025-01-05,12,7.8,249,1800,30,0
8,C009,Prepaid,6.1,North,Bronze,0,1,2024-12-18,30,3.2,129,650,3,1
9,C010,Postpaid,47.0,South,Gold,1,0,2025-01-13,4,10.5,599,6000,19,0
10,C011,Hybrid,20.2,East,Silver,0,1,2024-12-25,23,5.7,269,2000,7,1
11,C012,Prepaid,4.8,West,Bronze,1,0,2025-01-09,8,4.0,119,550,4,0
12,C013,Postpaid,60.4,North,Platinum,1,0,2025-01-15,2,16.2,899,8500,10,0
13,C014,Hybrid,15.5,South,Gold,0,1,2024-12-30,18,9.3,349,2600,14,1
14,C015,Prepaid,2.3,East,Bronze,0,1,2024-12-15,33,1.9,79,300,1,1

In [74]:
df.dropna()

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
0,C001,Prepaid,12.5,North,Bronze,1,0,2025-01-12,5,12.4,199,1500,34,0
1,C002,Postpaid,45.1,South,Gold,1,1,2025-01-01,16,8.1,499,5200,12,0
2,C003,Prepaid,3.4,south,Silver,0,0,2024-12-28,20,3.5,149,900,5,1
3,C004,Hybrid,22.3,West,Bronze,1,1,2025-01-10,7,15.2,299,2400,18,0
4,C005,Postpaid,55.8,North,Platinum,1,0,2025-01-14,3,6.9,799,7000,8,0
5,C006,Prepaid,8.9,South,Bronze,0,1,2024-12-20,28,2.1,99,400,2,1
6,C007,Postpaid,33.5,East,Silver,1,0,2025-01-16,1,14.0,399,3500,22,0
7,C008,Hybrid,18.4,West,Silver,1,0,2025-01-05,12,7.8,249,1800,30,0
8,C009,Prepaid,6.1,North,Bronze,0,1,2024-12-18,30,3.2,129,650,3,1
9,C010,Postpaid,47.0,South,Gold,1,0,2025-01-13,4,10.5,599,6000,19,0
10,C011,Hybrid,20.2,East,Silver,0,1,2024-12-25,23,5.7,269,2000,7,1
11,C012,Prepaid,4.8,West,Bronze,1,0,2025-01-09,8,4.0,119,550,4,0
12,C013,Postpaid,60.4,North,Platinum,1,0,2025-01-15,2,16.2,899,8500,10,0
13,C014,Hybrid,15.5,South,Gold,0,1,2024-12-30,18,9.3,349,2600,14,1
14,C015,Prepaid,2.3,East,Bronze,0,1,2024-12-15,33,1.9,79,300,1,1

In [75]:
df.loc[2:3]

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
2,C003,Prepaid,3.4,south,Silver,0,0,2024-12-28,20,3.5,149,900,5,1
3,C004,Hybrid,22.3,West,Bronze,1,1,2025-01-10,7,15.2,299,2400,18,0

In [76]:
df.loc[:,"region"]

0     North
1     South
2     south
3      West
4     North
5     South
6      East
7      West
8     North
9     South
10     East
11     West
12    North
13    South
14     East
Name: region, dtype: object

In [77]:
df.loc[2]

customer_id                       C003
plan_type                      Prepaid
data_usage_gb                      3.4
region                           south
customer_tier                   Silver
is_active                            0
complaints                           0
last_recharge_date          2024-12-28
days_since_last_recharge            20
avg_call_duration                  3.5
min_monthly_payment                149
total_recharge_amount              900
sms_usage                            5
churn                                1
Name: 2, dtype: object

In [78]:
df.loc[2,"region"]

'south'

In [79]:
df.loc[2:5]

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
2,C003,Prepaid,3.4,south,Silver,0,0,2024-12-28,20,3.5,149,900,5,1
3,C004,Hybrid,22.3,West,Bronze,1,1,2025-01-10,7,15.2,299,2400,18,0
4,C005,Postpaid,55.8,North,Platinum,1,0,2025-01-14,3,6.9,799,7000,8,0
5,C006,Prepaid,8.9,South,Bronze,0,1,2024-12-20,28,2.1,99,400,2,1

In [80]:
df.loc[2:5,"region"]

2    south
3     West
4    North
5    South
Name: region, dtype: object

In [84]:
df.loc[4:9,['region','plan_type']]

  region plan_type
4  North  Postpaid
5  South   Prepaid
6   East  Postpaid
7   West    Hybrid
8  North   Prepaid
9  South  Postpaid

In [85]:
df.loc[5]

customer_id                       C006
plan_type                      Prepaid
data_usage_gb                      8.9
region                           South
customer_tier                   Bronze
is_active                            0
complaints                           1
last_recharge_date          2024-12-20
days_since_last_recharge            28
avg_call_duration                  2.1
min_monthly_payment                 99
total_recharge_amount              400
sms_usage                            2
churn                                1
Name: 5, dtype: object

In [87]:
df.loc[4:10,['plan_type','region']]

   plan_type region
4   Postpaid  North
5    Prepaid  South
6   Postpaid   East
7     Hybrid   West
8    Prepaid  North
9   Postpaid  South
10    Hybrid   East

In [90]:
df.loc[:,"region"]

0     North
1     South
2     south
3      West
4     North
5     South
6      East
7      West
8     North
9     South
10     East
11     West
12    North
13    South
14     East
Name: region, dtype: object

In [94]:
df.loc[df["region"] == "North"]

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
0,C001,Prepaid,12.5,North,Bronze,1,0,2025-01-12,5,12.4,199,1500,34,0
4,C005,Postpaid,55.8,North,Platinum,1,0,2025-01-14,3,6.9,799,7000,8,0
8,C009,Prepaid,6.1,North,Bronze,0,1,2024-12-18,30,3.2,129,650,3,1
12,C013,Postpaid,60.4,North,Platinum,1,0,2025-01-15,2,16.2,899,8500,10,0

In [96]:
df.loc[df['region'] == 'south']

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
2,C003,Prepaid,3.4,south,Silver,0,0,2024-12-28,20,3.5,149,900,5,1

In [98]:
df.loc[2,'region'] = 'qwert'

In [99]:

df.head()

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
0,C001,Prepaid,12.5,North,Bronze,1,0,2025-01-12,5,12.4,199,1500,34,0
1,C002,Postpaid,45.1,South,Gold,1,1,2025-01-01,16,8.1,499,5200,12,0
2,C003,Prepaid,3.4,qwert,Silver,0,0,2024-12-28,20,3.5,149,900,5,1
3,C004,Hybrid,22.3,West,Bronze,1,1,2025-01-10,7,15.2,299,2400,18,0
4,C005,Postpaid,55.8,North,Platinum,1,0,2025-01-14,3,6.9,799,7000,8,0

In [100]:
df.loc[df['data_usage_gb'] > 10]

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
0,C001,Prepaid,12.5,North,Bronze,1,0,2025-01-12,5,12.4,199,1500,34,0
1,C002,Postpaid,45.1,South,Gold,1,1,2025-01-01,16,8.1,499,5200,12,0
3,C004,Hybrid,22.3,West,Bronze,1,1,2025-01-10,7,15.2,299,2400,18,0
4,C005,Postpaid,55.8,North,Platinum,1,0,2025-01-14,3,6.9,799,7000,8,0
6,C007,Postpaid,33.5,East,Silver,1,0,2025-01-16,1,14.0,399,3500,22,0
7,C008,Hybrid,18.4,West,Silver,1,0,2025-01-05,12,7.8,249,1800,30,0
9,C010,Postpaid,47.0,South,Gold,1,0,2025-01-13,4,10.5,599,6000,19,0
10,C011,Hybrid,20.2,East,Silver,0,1,2024-12-25,23,5.7,269,2000,7,1
12,C013,Postpaid,60.4,North,Platinum,1,0,2025-01-15,2,16.2,899,8500,10,0
13,C014,Hybrid,15.5,South,Gold,0,1,2024-12-30,18,9.3,349,2600,14,1

In [101]:
df.loc[df['data_usage_gb'] < 10]

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
2,C003,Prepaid,3.4,qwert,Silver,0,0,2024-12-28,20,3.5,149,900,5,1
5,C006,Prepaid,8.9,South,Bronze,0,1,2024-12-20,28,2.1,99,400,2,1
8,C009,Prepaid,6.1,North,Bronze,0,1,2024-12-18,30,3.2,129,650,3,1
11,C012,Prepaid,4.8,West,Bronze,1,0,2025-01-09,8,4.0,119,550,4,0
14,C015,Prepaid,2.3,East,Bronze,0,1,2024-12-15,33,1.9,79,300,1,1

In [105]:
df.loc[df['plan_type' ] == 'Postpaid']

,customer_id,plan_type,data_usage_gb,region,customer_tier,is_active,complaints,last_recharge_date,days_since_last_recharge,avg_call_duration,min_monthly_payment,total_recharge_amount,sms_usage,churn
1,C002,Postpaid,45.1,South,Gold,1,1,2025-01-01,16,8.1,499,5200,12,0
4,C005,Postpaid,55.8,North,Platinum,1,0,2025-01-14,3,6.9,799,7000,8,0
6,C007,Postpaid,33.5,East,Silver,1,0,2025-01-16,1,14.0,399,3500,22,0
9,C010,Postpaid,47.0,South,Gold,1,0,2025-01-13,4,10.5,599,6000,19,0
12,C013,Postpaid,60.4,North,Platinum,1,0,2025-01-15,2,16.2,899,8500,10,0

In [106]:
df.loc[df['plan_type'] == 'Postpaid','customer_tier']

1         Gold
4     Platinum
6       Silver
9         Gold
12    Platinum
Name: customer_tier, dtype: object

In [ ]:
df.loc[